@model QuickWorkshop.Models.service

<div class="contentform">
    <h2 class="bugs">Servicio</h2>
    <label class="txtlbl">Agregar</label>
</div>
@using (Html.BeginForm("AddSer", "Management", FormMethod.Post))
{
    <div class="formDomain">
        <h2 class="titlefield">Registrar un Servicio</h2>
        <form class="Dnsform">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "domain-container", @placeholder = "Nombre del Servicio"} })
            @Html.ValidationMessageFor(model => model.Name)
            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "domain-container", @placeholder = "Precio", @Value="", @type="number" } })
            @Html.ValidationMessageFor(model => model.Price)                  
        </form>
        <button type="submit" id="Addr" class="btn-proceed">Agregar</button>
        <div class="field-validation-error">@Html.DisplayFor(model => model.AddSError)</div>
    </div>
}
