@model QuickWorkshop.ViewModels.OrdersLoading
@{
    Layout = null;
    if (Session["email"] == null)
    {
        Response.Redirect("~/");
    }
    List<string> ts = new List<string>();
    System.Web.Mvc.SelectList prueba = new SelectList(ts);
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="~/Design/Orders/Style.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
    <title>QPanel | Facturacion</title>
</head>

<body>
    <header>
        <nav>
            <div class="logo">
                <div class="container">
                    <img src="~/Design/Orders/img/Logo2.png" alt="">
                </div>
            </div>
            <div class="perfil">
                <div class="contenedor-prof">
                    <p>@Session["name"]</p>
                    <img src="~/Design/Orders/img/user.png" alt="">
                </div>
            </div>
        </nav>
    </header>
    <main class="infoBar" id="ib">
        <div class="ajustes">
            <h2>Gestión</h2>
        </div>
        <div class="iconos">
            <div class="cajaadd">
                <img src="~/Design/Orders/img/add.png" alt="">
            </div>
        </div>
        <div class="dropicon"><a href="javascript:topnav();">&#9776;</a></div>
        <div class="izq">
            <div class="txtContenedor">
                <h2>Módulos</h2>
                <div class="icono">
                    <span>Add</span>
                    <div class="cajaadd">
                        <img src="~/Design/Orders/img/add.png" alt="">
                    </div>
                </div>
                @Html.ActionLink("Productos", "GetProducts")
                @Html.ActionLink("Servicios", "GetServices")
                @Html.ActionLink("Empleados", "GetUsers")
                @Html.ActionLink("Facturación", "GetOrders")
                <h2>Cuenta</h2>
                <a href="@Url.Action("LogOut", "Management")">Cerrar Sesión</a>
            </div>
        </div>
    </main>    
    <section class="contenedor-padre">
        <div class="izq">
            <div class="txtContenedor">
                <h2>Módulos</h2>
                @Html.ActionLink("Productos", "GetProducts")
                @Html.ActionLink("Servicios", "GetServices")
                @Html.ActionLink("Empleados", "GetUsers")
                @Html.ActionLink("Facturación", "GetOrders")
                <h2>Cuenta</h2>
                <a href="@Url.Action("LogOut", "Management")">Cerrar Sesión</a>
            </div>
        </div>
        <div class="derecha">
            <div class="contenedor">
                <div class="OrdHeader">
                    <label class="date">@Model.order.Date</label>
                    <label class="ordern">Factura #@Model.order.OrderId</label>
                </div>
                <div class="OrdInfo">
                    @Html.EditorFor(model => model.order.CustomerId, new { htmlAttributes = new { @placeholder = "Cedula Cliente", @Value = "" } })
                    <label>Estado: @Model.order.Status</label>
                </div>
                <div class="OrdInserts">
                    <div class="Add">
                        @using (Ajax.BeginForm("AddPDet", new { id = Model.order.OrderId }, new AjaxOptions { UpdateTargetId = "at", InsertionMode = InsertionMode.Replace }))
                        {
                                <select name="Productid" class="ordins">
                                    @foreach (var p in Model.products)
                                    {
                                    <option value="@p.ProductId">@p.Name</option>
                                    }
                                </select>
                                <input class="ordins" type="number" placeholder="Quantity" value="" name="Quantity" required="required">
                                <Button class="ordins" type="submit">Agregar Producto</Button>
                        }
                        </div>
                    <div class="Add s">
                        @using (Ajax.BeginForm("AddSDet", new { id = Model.order.OrderId }, new AjaxOptions { UpdateTargetId = "at", InsertionMode = InsertionMode.Replace }))
                        {
                            <select name="ServiceId" class="ordins">
                                @foreach (var s in Model.services)
                                {
                                    <option value="@s.ServiceID">@s.Name</option>
                                }
                            </select>
                            <Button class="ordins" type="submit">Agregar Servicio</Button>
                        }
                        </div>
                    </div>
                    <div id="at" class="AddedTables">

                    </div>
                    <div class="OrdTotals">
                        <div class="Totals">
                            <label>Cantidad Productos: @Model.order.ProductQ</label>
                            <label>Cantidad de Servicios: @Model.order.ServiceQ</label>
                            <label class="tp">Total: @Model.order.TotalPrice</label>
                        </div>
                        <div class="btn">
                            <button type="submit">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script src="/Scripts/jquery-3.3.1.js"></script>
        <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/Scripts/Orders.js"></script>
    </body>
    </html>
    <!-- https://dribbble.com/shots/1986474-Application-Modul -->
